{% extends 'layouts/main.njk' %}

{% block body %}
    <h3>Home page</h3>
    
        <p class="phrase">Сайт с постами</p>
        <p class="komment">Коментарии</p>
{% for post in posts %}
        <div class="commit">
            <div class="one">
                <h2>{{ post.author }}</h2>
                <p>{{ post.body }}</p>
            </div>
{% endfor %}
            <div class="two">
                <h2>asdf@mail.com</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, atque possimus? Laudantium porro odio in, iure sunt, doloribus deserunt autem laboriosam ratione accusantium earum vitae? Tempora cupiditate aperiam iusto laborum temporibus deleniti, culpa dolor, quae, sunt quaerat voluptatum illum.</p>
            </div>
            <div class="three">
                <h2>Fufoswsd@mail.com</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor vitae sed obcaecati rerum iure officiis libero, iste suscipit consequuntur? Labore similique placeat provident aliquam esse, quas perferendis eum voluptates.</p>
            </div>
            <div class="four">
                <h2>xcvxcv@mail.com</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus labore esse optio dignissimos incidunt obcaecati sit laborum vel tenetur quaerat voluptate sed, laboriosam ratione. Explicabo similique doloribus quis amet laudantium ipsum reprehenderit, illum dolores.</p>
            </div>
            <div class="five">
                <h2>qweqwe@mail.com</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio, consectetur in accusantium ex perferendis illo ullam laborum sed, vero eaque voluptatem, itaque harum veniam error eos ut ea ab modi provident vel asperiores laboriosam? Hic, expedita voluptatibus!</p>
            </div>
        </div>
        <script src="js.js"></script>

    {% for post in posts %}
        1
        <div>{{ post.title }}</div>
        <div>{{ post.content }}</div>
    {% endfor %}
{% endblock %}
