{% extends 'layouts/main.njk' %}

{% block body %}
    <main>

    <div class="main">
        <p>Этот сайт про посты!</p>
        <img src="cosmonaft.jpg" class="cosmonaft">
    </div>


    </main>
  
{% endblock %}
